FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=sua-chave-secreta-aqui-mude-em-producao
DATABASE_URL=postgresql://usuario:senha@localhost:5432/nome_banco

# Configurações WhatsGw para WhatsApp
WHATSGW_APIKEY=sua-apikey-aqui
WHATSGW_PHONE_NUMBER=5511999999999
